/* ---->>>> Variables: */

:root {
    --font-type-h1: 'Cormorant Garamond', serif;
    --font-other:'Dancing Script', cursive;
    --foot-another: 'Kaushan Script', cursive;
}

/* ---->>>> reset: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---->>>> Navs: */

.desktop_nav_container {
    height: 56px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}

.mob_nav_container {
    position: sticky;
    top: 0;
    z-index: 2;
}

.desktop_nav_container ul {
    display: flex;
    width: 100%;
    max-width: 50rem;
    align-items: center;
    justify-content: space-around;
    margin: 0 1rem;
}

/* ---->>>> Language button: */
.lang-btn-container {
    /* If this height changes, I need to change code in homepage componant: */
    height: 32px;
    width: 9rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ---->>>> Page section styles: */
.section {
    height: 100vh;
    max-height: 80rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: var(--font-other);
}

.section:nth-child(odd) {
    background-color: rgb(87, 96, 72);
}

.section:nth-child(even) {
    background-color: #E6D6C4;
}

/* ---->>>> Home page: */

.home_hero {
    justify-content: center;
    position: relative;
    z-index: 5;
}

.hero_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/hero_image.jpg');
    background-size: cover;
    background-position: 57% top;
    transition: all 0.5s;
    filter: blur(0px);
    z-index: 5;
}

.home_hero.showH1 .hero_background {
    filter: blur(10px);
}

.home_hero .box > * {
    font-family: var(--font-type-h1);
    /* font size to be replaced with variables once set up and fonts chosen: */
    font-size: 6.5rem;
    margin-top: 1.5rem;
    color: #fff;
}

.home_hero .box {
    opacity: 0;
    display: hidden;
    transition: all 0.5s;
    z-index: 20;
}

.showH1 .box {
    opacity: 1;
    display: block;
}

.hope_container .box {
    font-size: 2rem;
}

/* ---->>>> Footer: */
footer {
    background-color: red;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---->>>> Large screens only: */
@media screen and (min-width: 500px) {
    .mob_nav_container {
        display: none;
    }
}
/* ---->>>> Small screens only: */
@media screen and (max-width: 499px) {
    .mob_nav_container {
        display: block;
    }
    
    .desktop_nav_container {
        display: none;
    } 
    .home_hero .box > * {

        font-size: 4.1rem;
    }
}

