
footer {
    position: fixed;
    bottom: 0;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 500px) {
    .mob_nav_container {
        display: none;
    }
    
    .desktop_nav_container {
        display: block;
    } 
}

@media screen and (max-width: 499px) {
    .mob_nav_container {
        display: block;
    }
    
    .desktop_nav_container {
        display: none;
    } 
}

