/* ---->>>> Variables: */

:root {
    --font-type-main: 'Cormorant Garamond', serif;
    --font-type-written:'Dancing Script', cursive;
    --font-type-normal: 'Raleway', sans-serif;


    /* --font-colour-dark: #FAF9F6; */
    --font-colour-dark: #090c43;
    --font-colour-dark-hover: rgb(52, 51, 49);
    --font-colour-light: #ede2d6;

    /* --background-colour-one: #B1B8A8; */
    /* --background-colour-two: #97B6D5; */
    --background-colour-one: #ede2d6;
    --background-colour-two: #090c43;

}

/* ---->>>> reset: */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---->>>> General styles: */
a {
    color: var(--font-colour-dark)
}

a:hover {
    /* ????????? do we need these styles? */
    color: var(--font-colour-dark-hover);
    text-decoration:dotted;
}

.font_main {
    font-family: var(--font-type-main);

}

.font_written {
    font-family: var(--font-type-written);
    font-size: 3rem;
}

.font_normal {
    font-family: var(--font-type-normal);
}

.font_light {
    color: var(--font-colour-light)
}

.font_dark {
    color: var(--font-colour-dark);
}

/* ---->>>> Language button: */
.lang-btn-container {
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    z-index: 10;
}


/* ---->>>> Page section styles: */
.section {
    height: 100vh;
    max-height: 200rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.section:nth-child(odd) {
    background-color: var(--background-colour-two);
}

.section:nth-child(even) {
    background-color: var(--background-colour-one);
}

.square {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 10px 20px;
}

/* ---->>>> Home page: */

.home_hero {
    justify-content: center;
    min-height: 100vh;
    position: relative;
    z-index: 100;
}

.hero_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../public/images/hero_image.jpg');
    background-size: cover;
    background-position: 57% top;
    transition: all 0.5s;
    filter: blur(0px);
    z-index: 100;
}

.home_hero.showH1 .hero_background {
    filter: blur(10px);
}

.home_hero .box > * {
    font-size: 6.5rem;
    margin-top: 1.5rem;
}

.home_hero .box {
    opacity: 0;
    display: hidden;
    transition: all 0.5s;
    z-index: 101;
}

.showH1 .box {
    opacity: 1;
    display: block;
}

.hope_container, .paypal_section_container {
    position: relative;
}

.hope_container::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 1px;
    top: 50%;
    left: 20%;
    border-bottom: 1px solid var(--font-colour-dark);
    background-size: cover;
    background-position: center;
    transform: translateY(-50%);
    z-index: 2;
}

.hope_appear {
    opacity: 0;
    display: hidden;
    transition: all 0.5s;
}

.hope_appear.appear {
    opacity: 1;
    display: block;
}

.hope_appear > * {
    margin-top: 10%;
}

.paypal_section_container .box p:nth-child(2) {
    margin-top: 2rem;
}

.paypal_box {
    margin-top: 2rem;
}

.box input[name="submit"] {
    width: 4rem;
    height: 4rem;
    animation: 1s infinite ease-in-out alternate pulsatePaypal;
}

.small_font {
    font-size: 1.5rem;
}


@keyframes pulsatePaypal {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.2);
    }
}

.background_image {
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.angpao_background {
    background-image: url("../public/images/angpoa1.jpg");
}


/* ---->>>> Footer: */
footer {
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---->>>> Medium screens and above: */
@media screen and (min-width: 500px) {

}
/* ---->>>> Large screens only: */
@media screen and (min-width: 900px) {
    .section {
        flex-direction: row;
    }

    .hope_container::after {
        height: 60%;
        width: 1px;
        top: 20%;
        left: 50%;
        border-bottom: 0;
        border-left: 1px solid var(--font-colour-dark);
        transform: translateX(-50%);
    }

    .square {
        width: 50vw;
    }

    .square p {
        max-width: 40rem;
    }

}
/* ---->>>> Small screens only: */
@media screen and (max-width: 499px) {

    .home_hero .box > * {
        font-size: 4.1rem;
    }

    .double_height {
        height: 200vh;
    }


  
}

